$bg-color: #e74a42;
input[type="text"],
textarea,
select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none; // 去除safari浏览器的内阴影
  &::-webkit-input-placeholder {
    color: #999;
    font-size: inherit;
  }
  &:-moz-placeholder {
    color: #999;
    font-size: inherit;
  }
  &::-moz-placeholder {
    color: #999;
    font-size: inherit;
  }
  &:-ms-input-placeholder {
    color: #999;
    font-size: inherit;
  }
}

input,
textarea,
select {
  font-family: '微软雅黑';
}

%one {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

%in-b {
  display: inline-block;
  *zoom: 1;
  *display: inline;
}

%clearfix {
  zoom: 1;
  &:after {
    clear: both;
  }
  &:before,
  &:after {
    content: "";
    display: table;
  }
}

// 文本显示多少行就省略
@mixin ells($row) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $row;
  -webkit-box-orient: vertical;
}

%point-a {
  &:before {
    content: "";
    @extend %in-b;
    width: 4px;
    height: 4px;
    background-color: #dddddd;
    vertical-align: middle;
    margin-right: 8px;
  }
}

.wrap {
  width: 1100px;
  margin: 0 auto;
}

/* 头部 */
.sx-head {
  .head-cont {
    @extend %clearfix;
    .cont-logo {
      float: left;
      padding: 15px 0;
      .logo-main {
        width: 152px;
        height: 40px;
        padding: 10px 0;
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
    .cont-nav {
      float: right;
      height: 60px;
      line-height: 60px;
      padding: 15px 0;
      a {
        @extend %in-b;
        font-size: 16px;
        color: #333333;
        margin: 0 20px;
        &.active {
          color: #e74a42;
          border-bottom: 2px solid #e74a42;
          //position: relative;
          &:after {
            //position: absolute;
            //bottom: 0;
            //left: 0;
            //right: 0;
            //margin: auto;
            //@extend %in-b;
            //content: '';
            //width: 40px;
            //height: 2px;
            //background-color: #e74a42;
          }
        }
        &:hover {
          color: #e74a42;
        }
      }
    }
  }
  .head-navbar {
    height: 42px;
    line-height: 42px;
    background-color: #343442;
    .navbar-detail {
      @extend %clearfix;
      font-size: 16px;
      a {
        float: left;
        padding: 0 42px;
        color: #ffffff;
        &.active {
          background-color: #e74a42;
        }
        &:hover {
          background-color: #e74a42;
        }
      }
    }
  }
}

/* 热门标题 模块 */
.sx-bigtitle {
  font-size: 30px;
  line-height: 30px;
  color: #333333;
  .title-red {
    color: #e74a42;
  }
  .title-en {
    font-size: 16px;
    color: #999999;
    margin-left: 20px;
  }
}

/* 热门资讯 */
.sx-hots {
  padding: 42px 0 0;
  .sx-bigtitle {
    margin-bottom: 26px;
  }
  .news-title {
    border-bottom: 1px solid #f1f1f1;
    margin-bottom: 20px;
    .txt {
      @extend %in-b;
      font-size: 20px;
      font-weight: bold;
      line-height: 56px;
      color: #333333;
      border-bottom: 2px solid #e74a42;
      margin-bottom: -1px;
    }
  }
  .host-cont {
    @extend %clearfix;
    /* 左侧 */
    .cont-l {
      width: 780px;
      height: 356px;
      float: left;
      .l-more {
        @extend %in-b;
        width: 300px;
        height: 356px;
        float: left;
        img {
          width: 100%;
          height: 100%;
        }
      }
      .l-wd {
        float: left;
        width: 440px;
        height: 100%;
        margin-left: 30px;
        .wd-row {
          .row-title {
            font-size: 16px;
            margin-bottom: 15px;
            .title-tt {
              @extend %in-b;
              font-size: 14px;
              font-weight: bold;
              line-height: 24px;
              padding: 0 9px;
              color: #ffffff;
              background-image: linear-gradient(270deg, #e74a42 0%, #ff6c44 100%);
              position: relative;
              margin-right: 16px;
              border-radius: 2px;
              vertical-align: middle;
              &:after {
                position: absolute;
                right: -8px;
                top: 0;
                bottom: 0;
                margin: auto;
                content: '';
                width: 0;
                height: 0;
                border-top: 4px solid transparent;
                border-right: 4px solid transparent;
                border-bottom: 4px solid transparent;
                border-left: 4px solid #e74a42;
              }
            }
            .txt {
              @extend %in-b;
              width: 82%;
              @extend %one;
              vertical-align: middle;
            }
          }
          .row-detail {
            font-size: 14px;
            line-height: 24px;
            color: #666666;
            @include ells(2);
          }
        }
        .wd-lists {
          font-size: 14px;
          line-height: 32px;
          color: #333333;
          padding-top: 10px;
          a {
            @extend %point-a;
            .txt {
              @extend %in-b;
              width: 85%;
              @extend %one;
              vertical-align: middle;
            }
            em {
              color: #aaaaaa;
              float: right;
              font-size: 12px;
            }
            &:hover {
              color: #e74a42;
              &:before {
                background-color: #e74a42;
              }
              em {
                color: #e74a42;
              }
            }
          }
        }
      }
    }
    /* 右侧 */
    .cont-r {
      width: 300px;
      float: right;
      .r-hots {
        .hots-head {
          font-size: 20px;
          line-height: 20px;
          color: #333333;
          font-weight: bold;
          @extend %point-a;
          &:before {
            width: 6px;
            height: 20px;
            background-color: #e74a42;
            border-radius: 3px;
          }
          .txt {
            @extend %in-b;
            vertical-align: middle;
          }
          .head-more {
            float: right;
            font-size: 14px;
            color: #999999;
            font-weight: normal;
            .more {
              color: #cbcbcb;
            }
            &:hover {
              color: #e74a42;
              .more {
                color: #e74a42;
              }
            }
          }
        }
        .hots-cont {
          border: 1px solid #eeeeee;
          margin-top: 20px;
          padding: 18px 0 10px 18px;
          .cont-lists {
            font-size: 14px;
            line-height: 35px;
            color: #333333;
            a {
              @extend %in-b;
              width: 90%;
              @extend %one;
              vertical-align: middle;
              &:hover {
                color: #e74a42;
              }
            }
          }
          .sort {
            li {
              &:before {
                @extend %in-b;
                content: '';
                width: 12px;
                height: 14px;
                vertical-align: middle;
                margin-right: 4px;
              }
              &:nth-of-type(1) {
                &:before {
                  background: url('../images/sx-sprites.png') -77px -110px;
                }
              }
              &:nth-of-type(2) {
                &:before {
                  background: url('../images/sx-sprites.png') -109px -110px;
                }
              }
              &:nth-of-type(3) {
                &:before {
                  background: url('../images/sx-sprites.png') -10px -145px;
                }
              }
              &:nth-of-type(4) {
                &:before {
                  background: url('../images/sx-sprites.png') -42px -145px;
                }
              }
              &:nth-of-type(5) {
                &:before {
                  background: url('../images/sx-sprites.png') -74px -145px;
                }
              }
              &:nth-of-type(6) {
                &:before {
                  background: url('../images/sx-sprites.png') -106px -145px;
                }
              }
              &:nth-of-type(7) {
                &:before {
                  background: url('../images/sx-sprites.png') -138px -145px;
                }
              }
              &:nth-of-type(8) {
                &:before {
                  background: url('../images/sx-sprites.png') -45px -110px;
                }
              }
            }
          }
        }
      }
    }
  }
  .sx-schools {
    ul {
      @extend %clearfix;
      margin-right: -20px;
    }
    li {
      width: 260px;
      float: left;
      margin-right: 20px;
      img {
        width: 100%;
      }
      .item-txt {
        @extend %in-b;
        width: 100%;
        font-size: 16px;
        line-height: 24px;
        padding: 13px 0;
        color: #333333;
        text-align: center;
        @extend %one;
      }
    }
  }
  .school-title{
    border-bottom: 1px solid #f1f1f1;
    margin-bottom: 20px;
    span {
      @extend %in-b;
      font-size: 20px;
      font-weight: bold;
      line-height: 56px;
      color: #333333;
      margin-bottom: -1px;
      margin-right: 20px;
      cursor: pointer;
      &.cur{
        color: #e74a42;
        border-bottom: 2px solid #e74a42;
      }
    }
  }
  .schools-switch{
    ul{
      display: none;
      &.cur{
        display: block;
      }
    }
  }
}

/* 学位申请 */
.sx-xw {
  background-color: #f9f9f9;
  margin-bottom: 40px;
  padding: 24px 0 5px;
  .xw-cont {
    @extend %clearfix;
    .cont-item {
      width: 353px;
      float: left;
      margin-right: 18px;
      &:last-child {
        margin-right: -18px;
      }
      img {
        width: 100%;
      }
      .item-txt {
        @extend %in-b;
        width: 100%;
        font-size: 14px;
        line-height: 24px;
        padding: 13px 0;
        color: #333333;
        text-align: center;
        @extend %one;
      }
    }
  }
}

/* 资讯大全 */
.sx-info {
  .info-cont {
    @extend %clearfix;
  }
  .cont-l {
    float: left;
    width: 780px;
    .l-title {
      @extend %clearfix;
      border-bottom: 1px solid #dddddd;
      .thead {
        float: left;
        margin-bottom: 22px;
        .thead-item {
          @extend %in-b;
          font-size: 18px;
          line-height: 46px;
          color: #333333;
          padding: 0 22px;
          background-color: #f1f1f1;
          border-radius: 6px;
          margin-right: 18px;
          cursor: pointer;
          &.cur {
            background-color: #e74a42;
            color: #ffffff;
          }
        }
      }
      .look-all {
        float: right;
        height: 28px;
        line-height: 28px;
        font-size: 14px;
        color: #ffffff;
        padding: 0 6px;
        background-color: rgba(231, 74, 66, 0.68);
        border-radius: 6px;
        border: solid 1px #e74a42;
        margin-top: 9px;
        .symbol {
          color: #fddddb;
        }
        &:hover {
          color: #ffffff;
          background-color: #e74a42;
          .symbol {
            color: #ffffff;
          }
        }
      }
      .news-title {
        border-bottom: 1px solid #f1f1f1;
        .txt {
          @extend %in-b;
          font-size: 20px;
          font-weight: bold;
          line-height: 56px;
          color: #333333;
          border-bottom: 2px solid #e74a42;
          margin-bottom: -1px;
        }
      }
    }
    .news-lists {
      .lists-item {
        display: none;
        &.cur {
          display: block;
        }
      }
      li {
        border-bottom: 1px dashed #dddddd;
        padding: 30px 18px 30px 20px;
        .row-title {
          font-size: 16px;
          line-height: 16px;
          font-weight: bold;
          color: #333333;
          .tj {
            @extend %in-b;
            font-size: 12px;
            font-style: normal;
            color: #ffffff;
            text-align: center;
            line-height: 14px;
            width: 18px;
            height: 20px;
            background: url('../images/sx-sprites.png') -10px -70px;
            margin-right: 9px;
            vertical-align: middle;
          }
        }
        .row-detail {
          font-size: 14px;
          line-height: 24px;
          color: #666666;
          padding: 15px 0 10px;
          .show {
            display: inline-block;
            color: #e74a42;
          }
        }
        .row-bottom {
          height: 20px;
          line-height: 20px;
          font-size: 14px;
          color: #999999;
          .bottom-name {
            margin-right: 20px;
          }
          .share {
            float: right;
            width: 18px;
            height: 20px;
            background: url('../images/sx-sprites.png') -48px -70px;
          }
        }
        &:hover {
          background-color: #f7f7f7;
          .row-title {
            color: #e74a42;
          }
        }
      }
    }
  }
  .cont-r {
    width: 300px;
    float: right;
    .hots-head {
      font-size: 20px;
      line-height: 20px;
      color: #333333;
      font-weight: bold;
      @extend %point-a;
      &:before {
        width: 6px;
        height: 20px;
        background-color: #e74a42;
        border-radius: 3px;
      }
      .txt {
        @extend %in-b;
        vertical-align: middle;
      }
    }
    .topic {
      padding-top: 20px;
      img {
        width: 100%;
      }
      .item-txt {
        @extend %in-b;
        width: 100%;
        font-size: 14px;
        line-height: 24px;
        padding: 13px 0;
        color: #333333;
        text-align: center;
        @extend %one;
      }
    }
    .tags {
      background-color: #f7f8f9;
      margin-top: 20px;
      padding: 20px 10px 20px 20px;
      ul {
        li {
          @extend %in-b;
          margin-right: 4px;
          margin-bottom: 10px;
          a {
            @extend %in-b;
            padding: 0 13px;
            height: 40px;
            line-height: 40px;
            background-color: #ffffff;
            border-radius: 5px;
            color: #666666;
            &:hover {
              color: #ffffff;
              background-color: #e74a42;
            }
          }
        }
      }
    }
    .sx-form {
      padding: 102px 20px 12px;
      background: url("../images/sx-zxlb_8.png") no-repeat;
      margin-bottom: 20px;
      .sign-in {
        //height: 194px;
        background-color: #ffffff;
        border-radius: 10px;
        margin-bottom: 12px;
        padding: 26px 20px;
        input {
          width: 99%;
          height: 38px;
          background-color: #f2f2f2;
          border-radius: 4px;
          margin-bottom: 14px;
          outline: none;
          border: none;
          text-indent: 1em;
          font-size: 14px;
        }
        input[type="submit"] {
          font-size: 16px;
          width: 47%;
          height: 38px;
          line-height: 38px;
          background-image: linear-gradient(-17deg, #ff773a 0%, #ff905f 100%);
          box-shadow: 0px 0px 8px 0px rgba(255, 134, 81, 0.92);
          border-radius: 4px;
          vertical-align: middle;
          margin-bottom: 0;
          text-indent: 0;
          color: #ffffff;
          cursor: pointer;
        }
        .zx {
          @extend %in-b;
          width: 47%;
          float: right;
          height: 38px;
          line-height: 38px;
          font-size: 16px;
          background-image: linear-gradient(-17deg, #ffbf37 0%, #ffd780 100%);
          box-shadow: 0px 0px 8px 0px rgba(255, 191, 55, 0.92);
          border-radius: 4px;
          vertical-align: middle;
          text-align: center;
          color: #ffffff;
        }
      }
      .form-tel {
        font-size: 24px;
        line-height: 40px;
        color: #ffee8f;
        text-align: center;
        .tel-icon {
          @extend %in-b;
          width: 40px;
          height: 40px;
          background: url('../images/sx-sprites.png') -10px -10px;
          vertical-align: middle;
        }
        span {
          vertical-align: middle;
        }
      }
    }
    .hots-cont {
      border: 1px solid #eeeeee;
      margin-top: 20px;
      padding: 18px 0 10px 18px;
      .cont-lists {
        font-size: 14px;
        line-height: 35px;
        color: #333333;
        a {
          @extend %in-b;
          width: 90%;
          @extend %one;
          vertical-align: middle;
          &:hover {
            color: #e74a42;
          }
        }
      }
      .sort {
        li {
          &:before {
            @extend %in-b;
            content: '';
            width: 12px;
            height: 14px;
            vertical-align: middle;
            margin-right: 4px;
          }
          &:nth-of-type(1) {
            &:before {
              background: url('../images/sx-sprites.png') -77px -110px;
            }
          }
          &:nth-of-type(2) {
            &:before {
              background: url('../images/sx-sprites.png') -109px -110px;
            }
          }
          &:nth-of-type(3) {
            &:before {
              background: url('../images/sx-sprites.png') -10px -145px;
            }
          }
          &:nth-of-type(4) {
            &:before {
              background: url('../images/sx-sprites.png') -42px -145px;
            }
          }
          &:nth-of-type(5) {
            &:before {
              background: url('../images/sx-sprites.png') -74px -145px;
            }
          }
          &:nth-of-type(6) {
            &:before {
              background: url('../images/sx-sprites.png') -106px -145px;
            }
          }
          &:nth-of-type(7) {
            &:before {
              background: url('../images/sx-sprites.png') -138px -145px;
            }
          }
          &:nth-of-type(8) {
            &:before {
              background: url('../images/sx-sprites.png') -45px -110px;
            }
          }
        }
      }
    }
  }
}

/* 小学资讯页面 */
.sx-news {
  background-color: #f9f9f9;
  .xx-cont {
    padding-top: 22px;
    @extend %clearfix;
    .cont-l {
      float: left;
      width: 359px;
      .news-row {
        padding-bottom: 20px;
        margin-bottom: 20px;
        border-bottom: 1px dashed #dddddd;
        &:last-child {
          padding-bottom: 0;
          margin-bottom: 0;
          border-bottom: 0;
        }
        .row-title {
          font-size: 18px;
          margin-bottom: 15px;
          font-weight: bold;
          .title-tt {
            @extend %in-b;
            font-size: 14px;
            line-height: 24px;
            padding: 0 9px;
            color: #ffffff;
            background-image: linear-gradient(270deg, #e74a42 0%, #ff6c44 100%);
            position: relative;
            margin-right: 16px;
            border-radius: 2px;
            vertical-align: middle;
            &:after {
              position: absolute;
              right: -8px;
              top: 0;
              bottom: 0;
              margin: auto;
              content: '';
              width: 0;
              height: 0;
              border-top: 4px solid transparent;
              border-right: 4px solid transparent;
              border-bottom: 4px solid transparent;
              border-left: 4px solid #e74a42;
            }
            & + .txt {
              color: #e74a42;
            }
          }
          .title-rd {
            @extend %in-b;
            font-size: 14px;
            line-height: 24px;
            padding: 0 9px;
            color: #ffffff;
            background-image: linear-gradient(270deg, #2877ed 0%, #71aaff 100%);
            border-radius: 6px;
          }
          .txt {
            @extend %in-b;
            width: 80%;
            @extend %one;
            vertical-align: middle;
          }
        }
        .row-detail {
          font-size: 16px;
          line-height: 24px;
          color: #666666;
          @include ells(3);
        }
        &:nth-of-type(2) {
          .row-detail {
            font-size: 14px;
            @include ells(2);
          }
        }
        &:nth-of-type(3) {
          .row-detail {
            font-size: 14px;
            @include ells(2);
          }
        }
      }
    }
    .cont-r {
      float: right;
      .xx-slide {
        width: 536px;
        height: 376px;
        position: relative;
        float: left;
        .bd {
          width: 100%;
        }
        .hd {
          position: absolute;
          bottom: 30px;
          left: 0;
          right: 0;
          margin: auto;
          text-align: center;
          ul {
            display: inline-block;
            li {
              float: left;
              width: 10px;
              height: 10px;
              border: solid 1px #ffffff;
              box-sizing: border-box;
              border-radius: 5px;
              margin: 0 3px;
              cursor: pointer;
              &.on {
                width: 20px;
                background-color: #e74a42;
                border: 1px solid #e74a42;
              }
            }
          }
        }
      }
      .xx-litimg {
        width: 164px;
        height: 115px;
        float: right;
        margin-left: 14px;
        a {
          @extend %in-b;
          width: 100%;
          height: 100%;
          margin-bottom: 16px;
          box-sizing: border-box;
          &:hover {
            border: solid 2px #e74a42;
          }
        }
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
    .cont-banner {
      clear: both;
      display: block;
      padding-top: 40px;
    }
  }
}

/* 资讯终端 */
.news-ftu {
  background-color: #ffffff;
  .xx-cont {
    padding-top: 0;
    .cont-banner {
      padding-top: 0;
    }
  }
}

/* 资讯终端-详情 */
.news-ftu-details {
  .cont-l {
    .details-intro {
      width: 780px;
      //height: 892px;
      border: solid 1px #dddddd;
      margin-top: 40px;
      padding: 20px 20px 6px;
      box-sizing: border-box;
      .intro-title {
        font-size: 20px;
        line-height: 48px;
        font-weight: bold;
        color: #333333;
        text-align: center;
      }
      .intro-tags {
        padding: 0 16px 0 20px;
        height: 30px;
        line-height: 30px;
        background-color: #f7f7f7;
        font-size: 14px;
        color: #999999;
        margin-bottom: 20px;
        .tags-name {
          margin-right: 20px;
        }
        .tags-time {
          float: right;
          .icon {
            @extend %in-b;
            width: 15px;
            height: 15px;
            background: url('../images/sx-sprites.png') -10px -110px;
            vertical-align: middle;
            margin-right: 9px;
          }
          span {
            vertical-align: middle;
          }
        }
      }
      p {
        width: 100%;
        font-size: 14px;
        line-height: 24px;
        color: #333333;
        word-wrap: break-word;
        word-break: normal;
        margin-bottom: 20px;
      }
      .paging {
        border-top: 1px dashed #dddddd;
        .paging-prev,
        .paging-next {
          font-size: 14px;
          line-height: 52px;
          color: #333333;
          span {
            color: #666666;
            margin-left: 10px;
          }
          &:hover {
            span {
              color: #e74a42;
            }
          }
        }
        .paging-next {
          float: right;
        }
      }
    }
    .details-good {
      padding-top: 40px;
      @extend %clearfix;
      .good-item {
        width: 380px;
        float: left;
        margin-right: 20px;
        &:last-child {
          margin-right: 0;
        }
        img {
          width: 100%;
        }
        .item-txt {
          @extend %in-b;
          width: 100%;
          font-size: 14px;
          line-height: 24px;
          padding: 13px 0;
          color: #333333;
          text-align: center;
          @extend %one;
        }
      }
    }
  }
  .cont-r {
    padding-top: 20px;
  }
}

/* 学校库 */
.schools-library {
  .info-cont{
    .cont-l {
      .library-types {
        border: solid 1px #eeeeee;
        padding: 20px 0 20px 20px;
        color: #666666;
        font-size: 14px;
        line-height: 20px;
        .types-row {
          margin-bottom: 10px;
          &:last-child {
            margin-bottom: 0;
          }
          .row-key {
            vertical-align: top;
          }
          .row-val {
            @extend %in-b;
            color: #333333;
            width: 80%;
            span {
              @extend %in-b;
              height: 20px;
              padding: 0 6px;
              cursor: pointer;
              margin-bottom: 6px;
              &.cur {
                background-color: #e74a42;
                color: #ffffff;
              }
            }
          }
        }
      }
      .library-detail {
        padding-top: 12px;
        li{
          @extend %clearfix;
          border-bottom: 1px dashed #eeeeee;
          padding-bottom: 18px;
          padding-top: 18px;
          .bg {
              width: 160px;
              height: 106px;
              float: left;
              margin-right: 20px;
          }
          .detail-text {
            float: left; 
            width: 600px;
            .text-name {
              font-size: 20px;
              line-height: 20px;
              color: #333333;
              margin-bottom: 16px;
            }
            p{
              font-size: 14px;
              line-height: 18px;
              color: #666666;
              @include ells(2);
              margin-bottom: 16px;
            }
            .school-in{
              a{
                @extend %in-b;
                height: 20px;
                line-height: 20px;
                padding: 0 7px;
                font-size: 14px;
                border-radius: 10px;
                color: #e74a42;
                border: solid 1px #e74a42;
                margin-right: 10px;
                &:hover{
                  color: #fff;
                  background-color: #e74a42;
                }
                &:nth-of-type(2){
                  color: #2877ed;
                  border: solid 1px #2877ed;
                  &:hover{
                    color: #fff;
                    background-color: #2877ed;
                  }
                }
                &:nth-of-type(3){
                  color: #ff7e45;
                  border: solid 1px #ff7e45;
                  &:hover{
                    color: #fff;
                    background-color: #ff7e45;
                  }
                }
                &:nth-of-type(4){
                  color: #72ac6b;
                  border: solid 1px #72ac6b;
                  &:hover{
                    color: #fff;
                    background-color: #72ac6b;
                  }
                }
              }
            }
          }
        }
      }
    }
    .cont-r{
      .r-hots{
        .topic{
          padding-top: 0;
        }
      }
      .wechat-code{
        @extend %clearfix;
        padding: 20px 10px 25px 20px;
        background: url(../images/sx-xxk_1.png) no-repeat;
        margin-bottom: 20px;
        .code-img{
          float: left;
          width: 121px;
          height: 121px;
          background: url(../images/sx-wechat-code_2.png) no-repeat #fff;
          margin-right: 10px;
          img{
            width: 119px;
            height: 119px;
            margin: 1px;
          }
        }
        .code-txt{
          float: left;
          width: 136px;
          font-size: 15px;
          font-weight: bold;
          line-height: 18px;
          .txt-top{
            text-align: center;
            color: #333333;
          }
          .txt-middle{
            color: #e74a42;
            margin-bottom: 10px;
          }
          p{
            font-size: 14px;
            font-weight: normal;
            color: #666666;
          }
        }
      }
    }
  }
}

/* 学校首页 */
.sx-index2-banner{
  margin-bottom: 20px;
}

.sx-index2{
  .index2{
    border: solid 1px #eeeeee;
  }
  .school-intro{
    padding: 10px;
    .intro-detail{
      padding: 10px 0 32px 10px;
      border-bottom: 1px dashed #c1c1c1;
      @extend %clearfix;
      .detail-bg{
        width: 294px;
        height: 110px;
        float: left;
        margin-right: 30px;
      }
      .detail-text{
        float: left;
        width: 420px;
        .text-name{
          font-size: 20px;
          font-weight: bold;
          line-height: 24px;
          color: #333333;
        }
        .text-row{
          font-size: 14px;
          line-height: 24px;
          color: #333333;
          span{
            @extend %in-b;
            width: 82%;
            color: #666666;
            @extend %one;
            vertical-align: middle;
          }
        }
        .busline{
          @extend %in-b;
          height: 27px;
          line-height: 27px;
          background-color: #f8f8f8;
          border-radius: 2px;
          border: solid 1px #dadada;
          padding: 0 10px;
          margin-top: 6px;
          .icon{
            @extend %in-b;
            width: 11px;
            height: 16px;
            background: url('../images/sx-sprites.png') -153px -10px;
            vertical-align: middle;
            margin-right: 8px;
          }
          span{
            @extend %in-b;
            vertical-align: middle;
          }
          &:hover{
            color: #e74a42;
          }
        }
      }
    }
  }
  .about-us{
    padding: 10px;
    .us-detail{
      padding: 5px 0 22px 10px;
      border-bottom: 1px dashed #c1c1c1;
      .detail-title{
        font-size: 18px;
        font-weight: bold;
        line-height: 22px;
        color: #333333;
        margin-bottom: 10px;
      }
      p{
        font-size: 14px;
        line-height: 34px;
        color: #666666;
        margin-bottom: 20px;
        &:last-child{
          margin-bottom: 0;
        }
      }
    }
  }
  .environment{
    padding: 10px;
    .environment-detail{
      padding: 5px 0 22px 10px;
      border-bottom: 1px dashed #c1c1c1;
      .detail-title{
        font-size: 18px;
        font-weight: bold;
        line-height: 22px;
        color: #333333;
      }
      ul{
        @extend %clearfix;
        padding-top: 20px;
        padding-bottom: 6px;
        li{
          float: left;
          width: 238px;
          height: 157px;
          margin-right: 16px;
          &:last-child{
            margin-right: 0;
          }
        }
      }
    }
  }
  .teacher-team{
    padding: 10px;
    .team-detail{
      padding: 5px 0 22px 10px;
      border-bottom: 1px dashed #c1c1c1;
      .detail-title{
        font-size: 18px;
        font-weight: bold;
        line-height: 22px;
        color: #333333;
      }
      .detail-explain{
        @extend %clearfix;
        .team-item{
          width: 352px;
          padding: 19px 0 13px 13px;
          float: left;
          .item-avatar{
            width: 106px;
            height: 106px;
            float: left;
            margin-right: 20px;
          }
          .item-text{
            float: left;
            width: 212px;
            .text-name{
              font-size: 16px;
              line-height: 22px;
              color: #333333;
              margin-bottom: 10px;
              .name{
                font-weight: bold;
              }
            }
            p{
              font-size: 14px;
              line-height: 22px;
              color: #777777;
              @include ells(3);
            }
          }
        }
      }
    }
  }
  .score{
    padding: 10px;
    .score-detail{
      padding: 5px 0 22px 10px;
      .detail-title{
        font-size: 18px;
        font-weight: bold;
        line-height: 22px;
        color: #333333;
      }
      .score-txt{
        font-size: 14px;
        line-height: 22px;
        color: #666666;
        padding-top: 10px;
      }
    }
  }
  .cont-r{
    .topic{
      padding-top: 0;
    }
  }
  .index2-form {
    padding: 127px 20px 30px;
    background: url("../images/xxsy_1.png") no-repeat;
    margin-bottom: 20px;
    .sign-in {
      background-color: #ffffff;
      border-radius: 10px;
      padding: 20px;
      text-align: center;
      input, textarea {
        background-color: #f2f2f2;
        border-radius: 4px;
        margin-bottom: 10px;
        outline: none;
        border: none;
        font-size: 14px;
      }
      input{
        width: 99%;
        height: 32px;
        line-height: 32px;
        text-indent: 1em;
      }
      textarea{
        width: 86%;
	      height: 60px;
        padding: 7px 1em;
      }
      input[type="submit"] {
        font-size: 16px;
        width: 47%;
        height: 38px;
        line-height: 38px;
        background-image: linear-gradient(-17deg, #ff773a 0%, #ff905f 100%);
        box-shadow: 0px 0px 8px 0px rgba(255, 134, 81, 0.92);
        border-radius: 4px;
        vertical-align: middle;
        margin-bottom: 0;
        margin-top: 10px;
        text-indent: 0;
        color: #ffffff;
        cursor: pointer;
      }
    }
  }
}

/* 相关模块 */
.sx-related{
  .related-title {
    .txt {
      @extend %in-b;
      font-size: 20px;
      font-weight: bold;
      line-height: 56px;
      color: #333333;
      border-bottom: 2px solid #e74a42;
      margin-bottom: -1px;
    }
  }
  .related-detail{
    background-color: #ffffff;
    border: solid 1px #eeeeee;
    .wd-lists {
      font-size: 14px;
      line-height: 32px;
      color: #333333;
      padding: 20px 0;
      @extend %clearfix;
      li{
        width: 349px;
        float: left;
        margin: 0 20px;
      }
      a {
        @extend %point-a;
        .txt {
          @extend %in-b;
          width: 85%;
          @extend %one;
          vertical-align: middle;
        }
        em {
          color: #aaaaaa;
          float: right;
          font-size: 12px;
        }
        &:hover {
          color: #e74a42;
          &:before {
            background-color: #e74a42;
          }
          em {
            color: #e74a42;
          }
        }
      }
    }
  }
}

/* 面包屑 */
.page-path {
  color: #999999;
  font-size: 14px;
  &.sx-crumbs{
    padding-top: 20px;
    margin-bottom: 30px;
  }
  &.sx-crumbs2{
    padding-top: 19px;
    margin-bottom: 15px;
  }
  a {
    &:hover {
      color: #e74a42;
    }
  }
}

/* 分页 */
.page-wrap {
  width: 100%;
  border-top: 1px solid #ddd;
  display: flex;
  .page {
    margin: 30px auto;
    line-height: 32px;
    a {
      color: #666;
      display: block;
      float: left;
      width: 32px;
      height: 32px;
      line-height: 32px;
      text-align: center;
      background: #fff;
      font-size: 14px;
      margin-right: 10px;
      border: 1px solid #ddd;
      border-radius: 4px;
      &.first, &.end{
        width: 62px;
        background: #eee;
      }
      &.next, &.prev{
        width: 90px;
        background: #eee;
      }
      &.cur, &:hover{
        color: #fff;
        background: #e74a42;
        border-color: #e74a42;
      }
    }
  }
}

/* 友情链接 */
.sx-links {
  background-color: #f6f6f6;
  padding: 40px 0 20px;
  margin-top: 40px;
  .tab-head {
    border-bottom: 1px solid #dddddd;
    span {
      @extend %in-b;
      font-weight: bold;
      font-size: 18px;
      color: #333333;
      text-align: center;
      padding-bottom: 10px;
      cursor: pointer;
      margin-right: 20px;
      &.active {
        color: #e74a42;
        border-bottom: 2px solid #e74a42;
      }
      &:hover {
        color: #e74a42;
      }
    }
  }
  .tab-item {
    @extend %clearfix;
    font-size: 14px;
    color: #666666;
    padding-top: 20px;
    display: none;
    &.active {
      display: block;
    }
    a {
      float: left;
      margin: 0 20px 10px 0;
      &:hover {
        color: #e74a42;
      }
    }
  }
}

#footer {
  margin-top: 0;
  background-color: #3f3f3f;
  .links,
  .copyright {
    a {
      color: #cdcdcd;
      &:hover {
        color: #e74a42;
      }
    }
  }
  p {
    color: #cdcdcd;
    a {
      &:hover {
        color: #e74a42;
      }
    }
  }
}